/* Imports */

/* Variables */

/* Containers */

/* PAGE SECTIONS */
body {
  font-family: sans-serif;
  color: #444444;
  border-top: 10px solid #1098ad;
  position: relative;
}

nav {
  font-size: 18px;
}

article {
  flex: 1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  /* padding: 20px;
  padding-right: 40px;
  padding-left: 40px; */
  padding: 20px 40px;
  height: 80px;
}

.post-header {
  margin-bottom: 40px;
  /* position: relative; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;
}

/* SMALLER ELEMENTS */
h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  margin-bottom: 36px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

p {
  font-size: 22px;
  line-height: 1.5;
}

ul,
ol {
  margin-left: 48px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

.author {
  font-size: 18px;
  font-style: italic;
}

.related-author {
  font-size: 18px;
  font-style: italic;
}

.related-image {
  align-self: center;
  width: 150px;
  height: 150px;
}

.copyright {
  font-size: 16px;
}

.post-image {
  width: 100%;
  height: auto;
}

nav a:link {
  margin-right: 30px;
  display: inline-block;
}

nav a:link:last-child {
  margin-right: 0;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:active {
  background-color: black;
  font-style: italic;
}

.like-button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  position: relative;
}

h2::after {
  content: "TOP";
  background-color: #ffe70e;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -15px;
  right: -25px;
}

/*  FLOATS */
/*
.author-img {
  float: left;
}

.author {
  float: right;
}

h1 {
  float: left;
}

nav {
  float: right;
}

article {
  width: 70%;
  float: left;
}

aside {
  width: 25%;
  float: right;
}

footer {
  clear: both;
}
*/

/* FLEXBOX   */

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-box {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  margin-left: 16px;
}

.author-image {
  width: 100px;
  height: auto;
}

.related-link {
  margin-bottom: 5px;
  display: block;
  font-weight: bold;
}

li:last-child {
  margin-bottom: 0;
}

.related-posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}

.related-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}

/*
.content-container {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
  align-items: flex-start;
}

aside {
  flex: 0 0 300px;
}

article {
  margin-bottom: 0;
}
*/

.container {
  display: grid;
  grid-template-columns: 1fr 300px;
  column-gap: 75px;
  row-gap: 75px;
  align-items: start;
}

.main-header {
  grid-column: 1 / -1;
}

article {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

footer {
  background-color: #1098ad;
  grid-column: 1 / -1;
}
